body{
  background-color: black;
}

h1{
  text-align: center;
  color: #FFCC99;
  font-family: Arial;
}

p{
  text-align: center;
  color: #171717;
  font-family: arial;
  font-size: 10px;
  
}

iframe{
  text-align: center;
  width: 480px;
  height: 342px;
}

div.center{
  width: 480px;
  margin: 0 auto;
}

